<div class="row navbar">
  <div class="col-3 BrandName">NG PRACTICE APP</div>

  <div class="col text-center">
    <span id="navLink" routerLink="home" routerLinkActive="active"> ACTIVATED_ROUTE </span>
    <span id="navLink" routerLink="form" routerLinkActive="active"> TEMPLATE_FORM </span>
    <span id="navLink" routerLink="reactive-form" routerLinkActive="active"> REACTIVE_FORM </span>
    <span id="navLink" routerLink="subject" routerLinkActive="active"> SUBJECT </span>
    <span id="navLink" routerLink="ui-components" routerLinkActive="active"> UI_COMPONENTS </span>
    <span id="navLink" routerLink="component-interaction" routerLinkActive="active"> COMPONENT_INTERACTION </span>
    <span id="navLink" routerLink="http-interceptor" routerLinkActive="active"> HTTP-INTERCEPTOR </span>
  </div>

  <!-- <div class="col-3"></div> -->
</div>
