li {
  padding: 10px;
  background-color: #fff;
  margin-top: 5px;
  border: 1px solid #dedede;
  border-left: 5px solid green;
  font-weight: 600;
}

ul {
  // padding: 10px;
  // border: 1px solid blue;
  width: 50%;
  display: block;
  margin: auto;
}
