.ContentWrapper {
  background-color: rgba(0, 128, 0, 0.24);
  padding: 10px;
  margin: 10px;
  color: green;
}

.dataContainer {
  padding: 10px;
  background-color: white;
  border-radius: 10px;
}

.Header {
  font-weight: 900;
  padding: 5px;
  font-size: 26px;
  text-align: center;
}
